@import './assets/resets';
@import './sections/nav';
@import './sections/main.index';
@import './sections/footer';
@import './sections/contacto-main';

/*------------------------- ABOUT-ME.HTML---------------------------------------------*/

.section-about-me .image-big img{
    width: 100%;
    height: 100%;
}

/*------------------------- REVIEWS.HTML---------------------------------------------*/

.section-reviews .image-big img{
    width: 100%;
    height: 100%;
}

/*------------------------- COURSES.HTML---------------------------------------------*/

.section-courses .image-big img{
    width: 100%;
    height: 100%;
}

/* Estrategia Responsive = Mobile First = MIN WIDTH*/

/* INDEX */
