/*------------------------- ABOUT-ME.HTML---------------------------------------------*/

h1{
    padding: 20px;
    font-size: 60px;
}

.contenido{
    article{
        h2{
            padding-bottom: 10px;
            font-size: 50px;
        }
        p{
            padding-bottom: 10px;
            padding-top: 10px;
            font-size: 21px;
        }
    }
}


.img-avatar-aboutme{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    img{
        width: 80%;
        height: 80%;
        border: solid white 3px;
        padding: 10px;
}
}

.caja-icons{
    padding: 20px;
    border: 2px solid white;
        ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
}
}

.skills{
    padding: 20px;
    border: 2px solid white;
        ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
}
}

.imagenranking{
    width: 100%;
    padding-top: 20px ;
}

.footer{
    padding-top: 20px;
}

@media (min-width: 1024px){

.contenido {  display: grid;
    grid-template-columns: 1.5fr 0.5fr 1fr;
    align-items: start;
    grid-template-areas:
    "img-avatar-aboutme subcontenido subcontenido"
    "img-avatar-aboutme subcontenido subcontenido"
    "skills skills skills";
}

.img-avatar-aboutme { 
    grid-area: img-avatar-aboutme; 
    height: 1000px;
    padding: 0;
}

.subcontenido { 
    grid-area: subcontenido; 
    a{
        img{
        height: 24%;
        }
    }
    .imagenranking{
        width: 600px;
        height: 300px;
        padding-top: 20px ;
    }
}

.skills {
    grid-area: skills; 
    width: 500px;
    height: 150px;
    margin: 0 auto;

}
}
