/*------------------------- COURSES.HTML---------------------------------------------*/

.titulo{
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
}

.polaroid {
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    padding: auto;
    img {
        width: 100%
    }
}

.container {
    text-align: center;
    padding: 10px 20px;
}

@media (min-width: 1024px){
    .titulo{
        h1{
            font-size: 80px;
        }
        p{
            font-size: 30px;
        }
        }

    .container
        p{
            font-size: 30px;
            padding-bottom: 20px
        }
}