/*------------------------- REVIEWS.HTML---------------------------------------------*/

.titulo-reviews{
    font-size: 40px;
}


.carta-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.carta{
    width: 325px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4f4f4;
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.contenedor-carta{
    padding: 20px;
    background-color: #f4f4f4;
    h1{
        font-size: 24px;
        margin-bottom: 10px;
        background-color: #f4f4f4;
        color: #0f0404;
    }
    p{
        font-size: 15px;
        margin-bottom: 20px;
        background-color: #f4f4f4;
        color: #0f0404;
    }
}

.boton-carta{
    display: inline-block;
    text-decoration: none;
    background-color: 3498db;
    color: #0f0404;
    border-radius: 5px;
    padding: 8px 16px;
    background-color: #f4f4f4;
}

// Responsive

@media (min-width: 765px){
    .titulo-reviews{
        font-size: 60px;
    }    
}