// Reset
*{
    margin: 0;
    padding: 0;
    background-color: #171614;
    text-decoration-color: black;
    list-style: none;
    font-family: sans-serif;
}

article{
    margin: 20px;
    padding: 10px;
    color: #ffffff; 
}

h1{
    color: #ffffff;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -0.03em;
}

a{
    color: #ffffff;
}

h2{
    text-align: center;
    color: white;
}
h3{
    color: white;
    text-align: center;
}

p{
    text-align: center;
    color: #ffffff;
}